# application secret key used for securing cookies etc.
# changing this will invalidate all existing sessions
SECRET_KEY=""

# debug mode
# allowed values are true or false
# set to false in prod
DEBUG="true"

# a list of allowed host names separated by ;
ALLOWED_HOSTS="127.0.0.1;localhost"

# database connection url
# formats are given in https://pypi.org/project/dj-database-url/
DB_URL="sqlite:///db.sqlite3"
