{% if form.non_field_errors %}
    <ul class="text-error text-sm">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
    {% for field in form %}
        <div>
            {% if not field.is_hidden %}
                {{ field.label_tag }}
            {% endif %}
            {{ field }}

            {% if not field.is_hidden %}
                {% if field.errors %}
                    <ul class="text-error text-sm">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <div class="text-opacity-80">{{ field.help_text|safe }}</div>
        </div>
    {% endfor %}
</div>
